# ==================================
# Python
# ==================================

__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.env/

# ==================================
# Environment Variables
# ==================================

.env
.env.*

# ==================================
# VS Code
# ==================================

.vscode/

# ==================================
# Jupyter
# ==================================

.ipynb_checkpoints/

# ==================================
# Logs
# ==================================

*.log

# ==================================
# Build Files
# ==================================

build/
dist/
*.egg-info/

# ==================================
# FAISS Vector Database
# ==================================

# vector_db/

# ==================================
# PDF Documents
# ==================================

# data/*.pdf

# ==================================
# OS Files
# ==================================

.DS_Store
Thumbs.db

# ==================================
# HuggingFace Cache
# ==================================

.cache/
huggingface/

# ==================================
# PyTorch
# ==================================

*.pt
*.pth

# ==================================
# Temporary Files
# ==================================

temp/
tmp/